@use 'header';
@use '../base';
.main{
    flex: 1 0 auto;
}

.me__name{
    animation: slide-to-right 0.45s;
}
.me__info{
    animation: slide-to-right 0.55s
}
@keyframes slide-to-right {
    0%{
        transform: translateX(-500px)
    }
    100%{
        transform:translateX(0px)
    }
}

.wrapper{ 
    width:100%;
    max-width: 900px;
    word-break: break-all;
    margin-top:1em;
}

.skills {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: grid;
    grid-gap: 3vw;
    cursor:default;
    &__img-wrapper{
        width:1.7em;
        height:1.7em;
        display:flex;
        align-items: center;
    }
    &__img{
        transition: width 0.15s ease;
        width:0em;
        
    }
    &__title-wrapper{
        display: flex;
        gap:0.8em;
        align-items: center;
    }
    
}

.wrapper:hover .skills__img{
    transition: width 0.15s ease;
    width: 100%;    
}


@media (min-width:  1275px) {
  .skills {
    grid-template-columns: repeat(4, 1fr)!important;
  }
}
@media (min-width: 400px) {
    
  .skills {
    &__img-wrapper{
        width:1em;
    }
}

}
@media screen and (max-width:940px) {
    h1{
        font-size:18px;
    }
    p{
        font-size: 14px;
    }
    .skills {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    &__img-wrapper{
        width:1em;
    }
}    
}
@media screen and (max-width: 335px) {
    h1{
        font-size: 16px;
    }
    p{
        font-size: 10px;
    }
    .skills{
        &__img-wrapper{
            width:0.7em;
        }
    }
}
@media screen and (min-width: 940px) {
    .container {
        max-width: 1000px;
  }
  html {
    font-size: 1.5em;
}
.skills{
    
    /* grid-template-columns: repeat(3, 1fr); */
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1700px;
  }
}
a{
    color:black;
    text-decoration: none;
}
a:hover{
    color: darkblue;
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.project__img-wrapper{
    
    margin-top:1em;
    text-align:center;
    /* height:8em; */
    height:7em;
    overflow: hidden;
    img{
        width: 100%;
        height:100%;
        cursor: pointer;
        object-fit: cover;
    }
}
.project{
    &__wrapper{

    }
    &__modal{
        position: fixed;
        bottom: -1vh;
        left:0;
        height:77vh;
        width:100vw;
        background-color: var(--second-color);
        animation: modal-up 0.25s ease; 
    }
}
@keyframes modal-up {
    from {
        bottom:-100vh;
    }
    to{
        bottom:-1vh;
    }
    
}