h1 {
  font-size: 1.5em;
  white-space: nowrap;
}

p {
  white-space: nowrap;
}

html {
  font-family: "Source Code Pro";
}

#root {
  flex-direction: column;
  display: flex;
  background-color: var(--theme);
}

html[data-theme=dark] {
  --theme:#30393e;
  --second-color: #222222;
}
html[data-theme=dark] p {
  color: #6690b5;
}
html[data-theme=dark] h1 {
  color: white;
}
html[data-theme=dark] a {
  color: #6690b5;
}
html[data-theme=dark] header {
  background-color: var(--second-color);
}
html[data-theme=dark] .section-title {
  color: var(--second-color);
}

html[data-theme=light] {
  --theme:white;
  --second-color: #cfd5e0;
}
html[data-theme=light] header {
  background-color: var(--second-color);
}
html[data-theme=light] .section-title {
  color: var(--second-color);
}

/* html[] */
.section-title {
  margin-top: 0.5em;
  color: transparent !important;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  /* color: var(--second-color) */
  /* color: darkblue; */
  background-image: linear-gradient(90deg, rgb(153, 37, 176), rgb(39, 206, 156));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  overflow: hidden;
  padding: 1em 0;
}

.container {
  /* position:relative; */
  z-index: 9999;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 0 25px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.theme-switch {
  width: 2em;
  cursor: pointer;
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

.me__name {
  animation: slide-to-right 0.45s;
}

.me__info {
  animation: slide-to-right 0.55s;
}

@keyframes slide-to-right {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}
.wrapper {
  width: 100%;
  max-width: 900px;
  word-break: break-all;
  margin-top: 1em;
}

.skills {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  display: grid;
  grid-gap: 3vw;
  cursor: default;
}
.skills__img-wrapper {
  width: 1.7em;
  height: 1.7em;
  display: flex;
  align-items: center;
}
.skills__img {
  transition: width 0.15s ease;
  width: 0em;
}
.skills__title-wrapper {
  display: flex;
  gap: 0.8em;
  align-items: center;
}

.wrapper:hover .skills__img {
  transition: width 0.15s ease;
  width: 100%;
}

@media (min-width: 1275px) {
  .skills {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}
@media (min-width: 400px) {
  .skills__img-wrapper {
    width: 1em;
  }
}
@media screen and (max-width: 940px) {
  h1 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  .skills {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .skills__img-wrapper {
    width: 1em;
  }
}
@media screen and (max-width: 335px) {
  h1 {
    font-size: 16px;
  }
  p {
    font-size: 10px;
  }
  .skills__img-wrapper {
    width: 0.7em;
  }
}
@media screen and (min-width: 940px) {
  .container {
    max-width: 1000px;
  }
  html {
    font-size: 1.5em;
  }
  .skills {
    /* grid-template-columns: repeat(3, 1fr); */
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1700px;
  }
}
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: darkblue;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.project__img-wrapper {
  margin-top: 1em;
  text-align: center;
  /* height:8em; */
  height: 7em;
  overflow: hidden;
}
.project__img-wrapper img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}

.project__modal {
  position: fixed;
  bottom: -1vh;
  left: 0;
  height: 77vh;
  width: 100vw;
  background-color: var(--second-color);
  animation: modal-up 0.25s ease;
}

@keyframes modal-up {
  from {
    bottom: -100vh;
  }
  to {
    bottom: -1vh;
  }
}
.footer {
  background-color: var(--second-color);
  text-align: center;
  padding: 2em 0 2em;
  flex: 0 0 auto;
  margin-top: 5em;
}/*# sourceMappingURL=style.css.map */