@use 'fonts';

@mixin link {
    text-decoration: none;
    color:black;
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
}
html{ 
    font-family: 'Source Code Pro';
}


#root{
    flex-direction: column;
    display: flex;
    background-color: var(--theme);
}
html[data-theme='dark']{
    --theme:#30393e;
    --second-color: #222222;
    p{
        color:#6690b5;
        
    }
    h1{
        color:white
    }
    a{
        color:#6690b5;
    }
    header{
        background-color: var(--second-color);
    }
    .section-title {
        color: var(--second-color);
    }
}
html[data-theme='light']{
    header {
        background-color: var(--second-color);
    }
    --theme:white;
    --second-color: #cfd5e0;
    .section-title {
        color: var(--second-color);
    }
}
/* html[] */
.section-title{
    margin-top:0.5em; 
    color: transparent!important;    
	-webkit-background-clip: text;
	background-clip: text;
    text-align: center  ;
    /* color: var(--second-color) */
    /* color: darkblue; */
	background-image: linear-gradient(90deg, rgb(153, 37, 176),rgb(39, 206, 156));
	
}
